annotated-types
anyio
certifi
click
colorama
cramjam
dnspython
email_validator
fastapi
fastapi-cli
fastparquet
fsspec
h11
httpcore
httptools
httpx
idna
Jinja2
joblib
markdown-it-py
MarkupSafe
mdurl
numpy
packaging
pandas
pyarrow
pydantic
pydantic_core
Pygments
python-dateutil
python-dotenv
python-multipart
pytz
PyYAML
rich
scikit-learn
scipy
shellingham
six
sniffio
starlett
threadpoolctl
typer
typing_extensions
tzdata
uvicorn
watchfiles
websockets